{% schema %}
{
  "name": "PPB Buy Buttons",
  "target": "section",
  "settings": []
}
{% endschema %}
<div class="ppb-placeholder" data-ppb-type="actions"></div>
<script>if (window.PPB_DATA) document.dispatchEvent(new CustomEvent('shopify:section:load'));</script>
